@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid black;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    background-image: url('/images/pattern-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    
}

h3, 
span {
    white-space: nowrap;
}

h3 {
    color: hsl(240, 38%, 20%);
    font-weight: 700;
    font-size: 0.65em;

}

span {
    color: hsl(240, 18%, 77%);
    padding: 0em 1em;
    font-size: 0.45em;
}


/* Slideshow Styles */

.slideshow__container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

/* Hides slides by default */

.slideshow__inner {
    display: flex;
    flex-direction: column;
    margin-top: 250px;  
}

.slides {
    display: none;  
}

.slide__buttons {
    position: absolute;
    top: 77%;
    left: 60%;
    z-index: 999;
    background-color: white;
    border-radius: 50px;
    font-size: 18px;
}

.slide__buttons .button-container {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.14);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 4em;
    height: 2em;
    padding: 0.7em 0.5em;
}

.slide__buttons .button-container svg {
    cursor: pointer;
}

/* Position next button to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: hsl(240, 18%, 77%);
}

.slide__text {
    color: hsl(240, 38%, 20%);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px; 
    width: 100%;
    text-align: center;
}


/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}