@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid black;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    
}

h3, 
span {
    white-space: nowrap;
}

h3 {
    color: hsl(240, 38%, 20%);
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 2rem;
}

span {
    color: hsl(240, 18%, 77%);
    font-size: 0.65em;
    margin-left: .5rem;

}

/* Slide Style */

.slideshow__container {
    max-width: 100%;
    height: 75vh;
    background: url(/images/pattern-curve.svg) no-repeat bottom left;
    margin: auto;
    position: relative;
    padding: 2rem;
}

.slideshow__inner {
    margin-top: 20px;
}
.testimonial {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: url(/images/pattern-bg.svg) no-repeat right;
    background-size: contain;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
}

.text__container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 4rem;
    padding-right: 0;
    background: url(/images/pattern-quotes.svg) no-repeat;
    background-position-x: 130px;
    color: hsl(240, 38%, 20%);
}

.slide__text {
    font-size: 32px;
    position: relative;
    z-index: 1;
    font-weight: 300;
}

.slide__image {
    width: 305px;
    height: 305px;
    z-index: 0;
    border-radius: 5px;
    position: relative;
    right: -60px;
    top: 10px;
    box-shadow: 5px 5px 30px hsl(240, 18%, 77%);
}

.slide__buttons {
    width: 100px;
    display: flex;
    justify-content: space-between;
    background: #fffffff;
    padding: 1rem;
    border-radius: 50%;
    position: relative;
    left: 300px;
    bottom: 30px;
}

.slide__buttons svg {
    width: 15px;
    height: 30px;
}


/* Footer Style */
.footer {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    flex-shrink: 0;
}


/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}