/* Mobile First Design */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');


*, *::before, *::after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*outline: 1px solid black;*/
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    background-color: hsl(240, 20%, 99%);
}

h3, span {
    white-space: nowrap;
}

h3 {
    color: hsl(240, 38%, 20%);
    font-size: 1.2rem;
    font-weight: 700;
    
}

span {
    color: hsl(240, 18%, 77%);
    font-size: 1rem;
    margin-top: 0.5rem;
}

/* Slide Style */
.slideshow__container {
    height: 100vh;
    background: url(../images/pattern-curve.svg) no-repeat bottom left/65%;
    margin: auto;
    position: relative;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 5px 5px 30px hsl(240, 18%, 77%);
    z-index: 999;

}

.testimonial {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.text__container {
    order: 2;
    height: 50%;
    width: 100%;
    margin-top: 0.5rem;
    padding: 2rem;
    background: url(../images/pattern-quotes.svg) no-repeat;
    background-position-x: 50%;
    background-position-y: 5%;
    background-size: 70px;
    color: hsl(240, 38%, 20%);
    font-weight: 300;
}

.slide__text {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 0;
}

.slide__credit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.slide__image {
    order: 1;
    position: relative;
    background: url(../images/pattern-bg.svg) no-repeat center/65%;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-bottom: 2.5rem;
}

.sl-image {
    width: 300px;
    height: 300px;
    margin-top: 2.5rem;
    z-index: 0;
}

.slide__buttons {
    width: 3em;
    height: 1em;
    padding: 0.7em 0.5em;
    border-radius: 50px;
    position: absolute;
    z-index: 999;
    top: 35vh;
    left: 45%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 5px 5px 30px hsl(240, 18%, 77%);
    cursor: pointer;
}

/* Footer Style */
.footer {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    width: 100%;
    height: 100px;
    margin-top: 100px;
    flex-shrink: 0;
}


/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Fading Animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}

/* Media Queries min-width 768px */ 

@media screen and (min-width: 1300px){
    .slideshow__container {
        max-width: 95%;
        height: 85vh;
        background: url(../images/pattern-curve.svg) no-repeat bottom left;
        margin: auto;
        position: relative;
        padding: 1rem;
        background-color: #ffffff;
        box-shadow: 5px 5px 30px hsl(240, 18%, 77%);

    }
    .testimonial {
        background: url(../images/pattern-bg.svg) no-repeat right/35%;
        display: flex;
        flex-direction: row;
        margin: auto;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding: 4rem;
        transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
    }
    .text__container {
        display: flex;
        flex-direction: column;
        order: 1;
        width: 58%;
        padding: 3.5rem;
        padding-right: 0;
        background: url(../images/pattern-quotes.svg) no-repeat;
        background-position-x: 280px;
        color: hsl(240, 38%, 20%);
    }
    .slide__text {
        font-size: 28px;
        position: relative;
        z-index: 1;
        font-weight: 300;
        width: 95%;
        right: -130px;
        text-align: left;
    }
    .slide__credit {
        flex-direction: row;
        justify-content: flex-start;
        right: -130px;
        position: relative;
    }
    h3 {
        margin-right: 20px;
    }
    .slide__image {
        order: 2;
        width: 30%;
        height: 30%;
        border-radius: 5px;
        position: relative;
        right: 20px;
        left: 50px;
        top: 10px;
        background: transparent;
        
    }
    .sl-image {
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .slide__buttons {
        top: 50vh;
        left: 70%;
    }

}

@media screen and (max-width: 625px) {
    .slide__text {
        font-size: 1rem;
        text-align: center;
        padding: 1rem 0;
    }
    h3 {
        font-size: 0.85rem;
    }
    span {
        font-size: 0.80rem;
    }
}
